mysql/volumes/liferay/data
mysql/volumes/liferay/deploy
mysql/volumes/liferay/osgi
mysql/volumes/mysql/data
postgresql/volumes/liferay/data
postgresql/volumes/liferay/deploy
postgresql/volumes/liferay/osgi
postgresql/volumes/postgres/data

